<div class="card border-success w-50" >
    <div class="card-body">
        <div class="text-end h4">
            {{title|uppercase}}
        
        <!-- {{today|date}} -->
        
        </div>
        <div class="mt-lg-5">
            <h6>Họ Tên: Ngô Văn Dũng</h6>
            <h6 >Lớp: CD20CT3</h6>
            <h6>Mssv: 501200102</h6>
        </div>
        <div class="text-end age">
            <h6>Ngày sinh : {{ birthday| date:'dd/MM/yyyy'}}</h6>
            <h6>Tuổi : {{ birthday | info}}</h6>
        </div>
        <div class="mt-2 text-end">
           <h6>Trạng thái: Forever Alone</h6>
        </div>
    </div>
</div>
